html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 1.6rem;
  line-height: 1.875rem;
  font-weight: 400;
}

.wrapper {
  max-width: 1918px;
  height: 935px;
  margin: 0 auto;
  display: flex;
  margin: auto;
  justify-content: center;
}
.wrapper .container {
  margin: 0 auto;
  max-width: 1510px;
}
.wrapper .sidebar {
  width: 15rem;
  background-color: #191718;
}
.wrapper .sidebar__navigation--active {
  color: #ffffff !important;
}
.wrapper .sidebar__navigation--has-background {
  background-color: #5c5c5c !important;
}
.wrapper .sidebar__navigation--item {
  padding: 1.4rem 7.1rem 1.1rem 1.6rem;
  border-bottom: 1px solid #5c5c5c;
}
.wrapper .sidebar__navigation--item a {
  color: #aaaaaa;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875rem;
}
.wrapper .content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  width: calc(100% - 150px);
  padding-top: 2rem;
}
.wrapper .content .header .header__inner {
  padding-bottom: 3rem;
}
.wrapper .content .banner {
  background-color: #efefef;
  height: 210px;
  padding: 3.8rem 0;
  text-align: center;
  width: 100%;
}
.wrapper .content .banner__title {
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: 1.8rem;
}
.wrapper .content .banner__desc {
  font-size: 1.6rem;
  height: 9.5rem;
  max-width: 972px;
  display: flex;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper .content .feature {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 4rem;
  padding-bottom: 18.2rem;
  width: 100%;
}
.wrapper .content .feature__item {
  max-width: 47rem;
}
.wrapper .content .feature__item--title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  padding-bottom: 1.8rem;
}
.wrapper .content .feature__item--content {
  display: flex;
  width: 100%;
}
.wrapper .content .feature__item--icon {
  width: 128px;
  height: 128px;
  margin-right: 1.6rem;
  margin-bottom: 0.6rem;
}
.wrapper .content .feature__item--desc, .wrapper .content .feature__item--bottom__desc {
  font-size: 1.6rem;
  font-weight: 400;
  color: #000000;
}
.wrapper .content .feature__item--desc {
  max-height: 12.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper .content .feature__item--bottom__desc {
  max-height: 7.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper .content .footer {
  border-top: 1px solid #dedede;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.wrapper .content .footer__content {
  width: 100%;
}
.wrapper .content .footer__content p {
  padding: 3rem 0;
}

@media screen and (max-width: 499px) {
  .wrapper .sidebar {
    display: none;
  }

  .content .banner__desc {
    padding: 0 3.8rem;
  }
  .content .feature__item {
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 500px) {
  .wrapper .sidebar {
    display: none;
  }
  .wrapper .content .banner__desc {
    padding: 0 4rem;
  }
  .wrapper .content .feature {
    justify-content: center;
  }
  .wrapper .content .feature__item {
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .wrapper .content .feature {
    justify-content: center;
    text-align: justify;
  }
  .wrapper .content .feature__item {
    margin-bottom: 4rem;
    max-width: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .wrapper .sidebar {
    display: none;
  }
  .wrapper .content .feature {
    justify-content: center;
    text-align: justify;
  }
  .wrapper .content .feature__item {
    margin-bottom: 4rem;
    max-width: 47rem;
  }
  .wrapper .content .feature__item:first-child {
    padding-right: 3rem;
  }
  .wrapper .content .feature__item:nth-child(2) {
    padding-left: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper .sidebar {
    display: block;
  }
  .wrapper .content .feature {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .wrapper .content .feature__item {
    margin-bottom: 0;
    max-width: 47rem;
    margin-right: 2rem;
  }
  .wrapper .content .feature__item:last-child {
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
